// colors

$main-blue: #5f6ce5;
$button-focused-blue: #6675FF;
$button-outlined-blue: rgba(80, 97, 255, 0.12);;
$white: #FFFFFF;
$gray: #D8D8D8;
$text-gray: #B0B0B0;

$button-shadow: 2px 3px 8px 0px rgba(34, 60, 80, 0.2);
$button-ripple: rgba(245, 245, 249, 0.12);

//font-family
$main-font-family: 'Open Sans';
/* Large desktops and laptops */

$large-desktop: 1200px;

@media (min-width: 1200px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {}

/* Portrait phones and smaller */
@media (max-width: 480px) {}

/* Iphone 5 */
@media (max-width: 320px) {}